{% extends 'base.html' %}
{% load static %}

{% block title %}Account Settings{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/account_settings.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Account Settings</h2>

    <form method="post">
        {% csrf_token %}
        <div class="form-fields">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn">Save Changes</button>
    </form>

    <p>
        <a href="{% url 'change_password' %}">Change Password</a>
    </p>
</div>
{% endblock %}
