{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}

        <div>
            <label for="user_type">Login as:</label>
            <select name="user_type" id="user_type">
                <option value="customer">Customer</option>
                <option value="farmer">Farmer</option>
            </select>
        </div>

        {{ form.as_p }}

        <button type="submit" class="btn">Login</button>
    </form>

    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
    <p>Don't have an account? <a href="{% url 'register' %}">Sign up here</a></p>
</div>
{% endblock %}



