{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div>
            {{ form.user_type.label_tag }}
            {{ form.user_type }}
            {{ form.user_type.errors }}
        </div>

        <div>
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div>
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>

        <div>
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>

        <button type="submit">Sign Up</button>
    </form>
</div>
{% endblock %}