<!-- register.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
  <h2>Register</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div>
      {{ form.username.label_tag }}
      {{ form.username }}
      {{ form.username.errors }}
    </div>

    <div>
      {{ form.password1.label_tag }}
      {{ form.password1 }}
      {{ form.password1.errors }}
    </div>

    <div>
      {{ form.password2.label_tag }}
      {{ form.password2 }}
      {{ form.password2.errors }}
    </div>

    <div>
      {{ form.user_type.label_tag }}  <!-- New user type field -->
      {{ form.user_type }}  <!-- Dropdown for user type (farmer/customer) -->
      {{ form.user_type.errors }}
    </div>

    <button type="submit">Sign Up</button>
  </form>
{% endblock %}
</body>
</html>
